.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 70px;
    background-color: #141414;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    height: 36px;
}

.navList {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    padding: 0;
}

.navItem {
    cursor: pointer;
    transition: color 0.3s;
}

.navItem:hover {
    color: #b9090b;
}

.profile {
    display: flex;
    align-items: center;
}

.profileIcon {
    height: 32px;
    margin-left: 1rem;
    cursor: pointer;
}