video::-webkit-media-controls {
  display: none !important;
}

* {
  font-family: 'Circular-Light';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: #141414;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

/* Global Styles (z.B. in einem global.css oder _app.js in Next.js) */

h1 {
  font-size: 2.5rem;
  /* 40px */
  font-weight: bold;
  /* color: #E50914; */
  /* Netflix-Rot */
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  /* 32px */
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.75rem;
  /* 28px */
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.5rem;
  /* 24px */
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 1.25rem;
  /* 20px */
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  /* 16px */
  font-weight: normal;
  color: #B8B8B8;
  /* Ein hellerer Grauton für den Text */
  line-height: 1.5;
  /* Für bessere Lesbarkeit */
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* Desktops */

@media screen and (max-width: 1919px) {}

/* Large tablets/laptop */

@media screen and (max-width: 1199px) {}

/* Small Teblets */

@media screen and (max-width: 991px) {

  h1 {
    font-size: 2rem;
    /* 32px */
  }

  h2 {
    font-size: 1.75rem;
    /* 28px */
  }

  h3 {
    font-size: 1.5rem;
    /* 24px */
  }

  h4 {
    font-size: 1.25rem;
    /* 20px */
  }

  h5 {
    font-size: 1rem;
    /* 16px */
  }

  p {
    font-size: 0.875rem;
    /* 14px */
  }

}


/* Extra small devices */

@media screen and (max-width: 767px) {

  h1 {
    font-size: 1.5rem;
    /* 24px */
  }

  h2 {
    font-size: 1.25rem;
    /* 20px */
  }

  h3 {
    font-size: 1rem;
    /* 16px */
  }

  h4 {
    font-size: 0.875rem;
    /* 14px */
  }

  h5 {
    font-size: 0.75rem;
    /* 12px */
  }

  p {
    font-size: 0.75rem;
    /* 12px */
  }

}


/* Mobile */

@media screen and (max-width: 480px) {}