@font-face {
  font-family: Circular-Black;
  src: url(./fonts/CircularStd-Black.otf);
}

@font-face {
  font-family: Circular-Book;
  src: url(./fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: Circular-BlackItalic;
  src: url(./fonts/CircularStd-BlackItalic.otf);
}

@font-face {
  font-family: Circular-Bold;
  src: url(./fonts/CircularStd-Bold.otf);
}

@font-face {
  font-family: Circular-BoldItalic;
  src: url(./fonts/CircularStd-BoldItalic.otf);
}

@font-face {
  font-family: Circular-BookItalic;
  src: url(./fonts/CircularStd-BookItalic.otf);
}

@font-face {
  font-family: Circular-Light;
  src: url(./fonts/CircularStd-Light.otf);
}

@font-face {
  font-family: Circular-LightItalic;
  src: url(./fonts/CircularStd-Light\ Italic.otf);
}

@font-face {
  font-family: Circular-Medium;
  src: url(./fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: Circular-MediumItalic;
  src: url(./fonts/CircularStd-MediumItalic.otf);
}

* {
  font-family: 'Circular-Light';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
