.icon {
    width: 100px;
    height: auto;
}

.navbar {
    padding: 0px 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #141414;
}

.navbarContent {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 50px;
}

.navLinksWrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.navLinksWrapper ul {
    display: flex;
}

.navLinksList {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 60px;
}

.navLinks {
    font-family: Circular-Black;
    font-size: 1rem;
    color: #B8B8B8;
    margin: 0px 15px;
}

/* Mobile Anpassungen */
.menuButton {
    display: none;
    /* Verstecken Sie den Menü-Button standardmäßig */
}

.navLinks button {
    background: transparent;
    color: #B8B8B8;
    font-size: 1rem;
    border: none;
}

/* Desktops */

@media screen and (max-width: 1919px) {}

/* Large tablets/laptop */

@media screen and (max-width: 1199px) {}

/* Small Teblets */

@media screen and (max-width: 991px) {}


/* Extra small devices */

@media screen and (max-width: 767px) {}


/* Mobile */

@media screen and (max-width: 480px) {

    .navbar {
        padding: 0px 1rem;
    }

    .navbarIconLink {
        flex: 1;
        display: flex;
        justify-content: center;
        /* Zentriert das Logo */
    }

    .icon {
        width: 100px;
        height: auto;
    }

    .navbarContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0px;
        margin: 0px 10px;
    }

    .menuButton {
        display: block;
        color: white;
        border: none;
        background-color: transparent;
        z-index: 1001;
        order: -1; /* Dies stellt sicher, dass der Button immer zuerst (links) angezeigt wird */
        margin-right: auto; 
    }

    .navLinksList {
        margin: 0px 0px;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #141414;
        flex-direction: column;
        justify-content: center;
        transition: left 0.3s ease;
    }

    .navLinksWrapper ul {
        display: block;
    }

    .navLinks {
        font-size: 2rem;
        text-align: center;
        padding: 10px 0px;
    }

    .navLinksList.open {
        left: 0;
    }

}