/* Header */

.navbar {
    padding: 0px 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #141414;
}

.navbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin: 0px 50px;
}

.navbarLinks {
    display: flex;
    align-items: center;
}

.navLinksWrapper {
    display: flex;
    margin-left: 60px;
}

.navLinks {
    font-family: Circular-Black;
    font-size: 1rem;
    /* 16px */
    color: #B8B8B8;
    margin: 0px 15px;
}

/* Desktops */

@media (min-width: 1200px) and (max-width: 1919px) {}

/* Large tablets/laptop */

@media (min-width: 992px) and (max-width: 1199px) {}

/* Small Teblets */

@media (min-width: 768px) and (max-width: 991px) {}


/* Extra small devices */

@media (min-width: 481px) and (max-width: 767px) {}


/* Mobile */

@media (max-width: 480) {}