/* Extra large screens */

.info {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.episodeGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 6 Folgen in einer Reihe */
    gap: 1rem;
    /* Abstand zwischen den Folgen */
    margin: 0px 50px;
}

.episodeCard {
    background-color: #141414;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    margin: 10px 10px;
}

.episodeCard:hover {
    transform: scale(1.03);
}

.episodeImage {
    width: 100%;
    height: auto;
    display: block;
}
